// =====================================================
// Config/Variables
// =====================================================

//  Page Background Colours
$bgcolor-body: white;
$bgcolor-container: lightgrey;

//  Button Colours
$btn-email: #007bff;
$btn-random: #28a745;
$btn-reset: #da5656;

//  Width related settings
$element-width: 100%;
$element-max-width: 600px;

// Font Families
$font-raleway: "Raleway", sans-serif;
$font-main : $font-raleway; // The currently selected font family used in the project

//  Font Weights
$font-xlight: 100;
$font-light: 400;
$font-med: 500;
$font-bold: 600;
$font-xbold: 700;

//  Breakpoints
$break--xs: 1px;
$break--s: 460px;
$break--m: 768px;
$break--l: 992px;
$break--xl: 1260px;

//  Z-indexes
$z-sidebar: 1;
$z-header: 2;
$z-submenus: 3;
$z-pagewrapper-dim: 4;
$z-pagewrapper: 5;
$z-cookies: 6;

//  Border Radius
$br-large: 10px;
$br-small: 5px;
$br-debug: 0px;

//  Transition
$zoom-duration: 0.7s;
$zoom-scale: 1.2;
$zoom-curve: cubic-bezier(0.68, -0.55, 0.27, 1.55);
$transition-button: all 0.3s ease-in-out;

