// =====================================================
// Mixins Partial
// =====================================================

@mixin button($bgcolor, $brcolor: null, $lheight: 20px, $bradius: $br-small) {
  
  //  Assign parameters to variables
  background-color: $bgcolor;
  border-color: $brcolor;
  border-radius: $bradius;
  line-height: $lheight;

  //  Default styles of buttons
  color: white;
  display: inline-block;
  font-weight: $font-light;
  
  //  Prevent underlining links.
  text-decoration: none;
  :hover {
    text-decoration: none;
  }

  //  Allow for additional styles to be added.
  @content;
}

//  Media Queries
@mixin mq($breakpoint) {
  @if $breakpoint == "x-small" {
    @media (min-width: $break--xs) and (max-width: $break--s) {
      @content;
    }
  } @else if $breakpoint == "small" {
    @media (min-width: #{$break--s}) and (max-width: $break--m) {
      @content;
    }
  } @else if $breakpoint == "medium" {
    @media (min-width: #{$break--m}) {
      @content;
    }
  } @else if $breakpoint == "large" {
    @media (min-width: #{$break--l}) {
      @content;
    }
  } @else if $breakpoint == "x-large" {
    @media (min-width: #{$break--xl}) {
      @content;
    }
  } @else {
    @error "#{$breakpoint} isn't a valid media query size!";
  }
}

//  For the service cards hover effect.
@mixin cardhover($colour: null) {
  @if $colour != null {
    background-color: $colour;
    border-color: $colour;
  }
  top: -10px;
}
