// =====================================================
// Base Styles
// =====================================================

* {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font-main;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  @include mq(large) {
    height: 100vh;
  }
  display: flex;
  margin: 0;
  color: black;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: $bgcolor-body;
}



//  Reused Classes
.reusable-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  //border: 1px solid yellow; // (Just for debug)

  @include mq(medium) {
    width: 750px;
  }
  @include mq(large) {
    width: 970px;
  }
  @include mq(x-large) {
    width: 1280px;
  }
}
