// =====================================================
// Base Styles
// =====================================================

* {
  justify-content: center;
  align-items: center;
  text-align: center;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  color: black;
  font-size: 1rem;
  font-family: sans-serif;
  letter-spacing: 1px;
  background-color: $bgcolor-body;
}

#container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  background-color: $bgcolor-container;
  border-radius: $br-large;
}

center {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

//  Reused Classes
.reusable-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  //border: 1px solid yellow; // (Just for debug)

  @include mq(medium) {
    width: 750px;
  }
  @include mq(large) {
    width: 970px;
  }
  @include mq(x-large) {
    width: 1200px;
  }
}
