

.email-list-item {

    margin-top: 10px;
    padding: 10px;
    //background-color: lighten($bgcolor-container, 5%);
    border: 1px solid darken($bgcolor-container, 5%);
    border-radius: $br-small;
    position: relative;
    
  &:hover {
    .remove-email {
      display: inline-block;
    }
  }
}


.email-list-item-title {
    font-size: 1.3rem;
    font-weight: $font-bold;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 30px);
    font-family: $font-main;
    transition: $transition-button;
    color: grey;

    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;

    display: inline-block;
    &:hover{
      color: black;
    }
  }

.remove-email {
    display: none;
    position: absolute;
    background-color: none;
    line-height: 0.7rem;
    color: grey;
    right: 5px;
    top: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: $br-small;
    font-family: $font-raleway;
    font-weight: $font-xbold;
    &:hover {
      color: white;
      background-color: $btn-reset;
    }
  }