#container {
    margin: 10px auto;
    padding: 20px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    background-color: $bgcolor-container;
    border-radius: $br-large;
    height: 100%;
    display: flex;
    align-items: flex-start;

    @include mq(large) {
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        flex-direction: row;
    }

    flex-direction: column;
}

#current-image {
    //width: 400px;
    min-width: 200px;
    max-width: 400px;
    
    @include mq(large) {
        width: 400px;
        min-width: 400px;
        
    }
}

#assigned-images {

    @include mq(large) {
        &:has(#email-list > li) {
            padding-left: 20px;
        }
    }
}



