img {
  max-width: $element-max-width;
  width: $element-width;
  border-radius: $br-small;
}

.email-list,
.image-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email-list {
  border: $br-debug solid $btn-email;
}

.image-list {
  border: $br-debug solid $btn-random;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.image-list-item {
  border: $br-debug solid $btn-reset;
}

.collection-image {
  transition: transform $zoom-duration $zoom-curve;
  cursor: pointer;
  &:hover {
    -ms-transform: scale($zoom-scale); /* IE 9 */
    -webkit-transform: scale($zoom-scale); /* Safari 3-8 */
    transform: scale($zoom-scale);
  }
}

#random-image {
  cursor: pointer;
}

  